html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffff;
}
p{
    font-size: 2.5vh;
}

header {
    margin-bottom: 20px;
}

main {
    text-align: center;
}

#image-container {
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.map-image {
    width: 100%;
    height: auto;
    display: block;
    transition: opacity 0.5s;
}

footer {
    margin-top: 20px;
}
